fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings

python-multipart

temporalio

minio

ffmpeg-python

scenedetect==0.7.1

qdrant-client

python-dotenv

pytest
pytest-asyncio
httpx
Pillow
faster-whisper

sentence-transformers
rank-bm25
